@import "tailwindcss";

@theme {
    --color-text-clr: var(--text-clr);
    --color-background: var(--background);
}

:root {
    --text-clr: rgb(78, 78, 78);
    --text-2: #676767;
    --background: #f1f1f1;
    --foreground: #171717;
}

.dark {
    --text-clr: #dfdfdf;
    --text-2: #dadada;
    --background: #171717;
    --foreground: #eff6ff;
}

body {
    /* background: var(--background);
  color: var(--foreground); */
    font-family: "Outfit", sans-serif, Arial, Helvetica;
}
